<%-include("header") -%>

<h2>This is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda nulla laborum, quidem dolorem nobis accusamus! Incidunt adipisci mollitia ducimus nesciunt obcaecati? Ut impedit veritatis voluptatum dicta veniam nemo, provident vitae.
</p>

<%-include("footer") -%>